.jumbotron {
	width: 600px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.table {
	margin-top: 20px;
}

h3 {
	margin-bottom: 30px;
}

hr {
	border-color: #999;
}

.form-control {
	margin-bottom: 2px;
}

.selecionado {
	background-color: yellow;
}

.negrito {
	font-weight: bold;
}